@charset "utf-8";
/* CSS Document */

.contactus{
	width:100%;
	background:#F5F5F5;
	height:auto;
	text-align:center;
	}
	
.contactus h1{
	font-size:80px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	margin:0;
	padding-top:20px;
	}
	
.contactus p{
	font-size:20px;
	margin:0;

	margin-top:40px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	}
	
	
.icons{
	display:inline;
	}
.icon{
	display:inline-block;
	width:200px;
	margin:100px;
	}
	
.icon_p{
	margin:0;
	padding:0;
	margin-top: 20px;
	}

#icon_caption{
	margin-top:10px;
	color: #EE3765;
	}
	
#map_canvas{
	alignment-adjust:central;	
	height:400px;
	margin-top:100px;
	margin-left:5%;
	margin-right:5%;
	}
#infoWindow{
	width:300px;
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
	height:auto;
	font-size:10px;
	}
#infoWindow img{
	padding:0;
	float:left;
	}
#infoWindow h1{
	font-size:15px;
	float:left;
	margin-left:5px;
	}
#infoWindow p{
	margin-top:0;
	font-size: 20px;
	}
	
.contact_form{
	text-align:left;
	display:inline-block;
	width:auto;
	height:auto;

	}
.contact_form p {
	margin-top:10px;
	width:150px;
	height:auto;
	display:inline-block;
	width:100px;


	}

.contact_form input{
	margin:0;
	margin:top:10px;
	display:inline-block;
	border:1px solid #CCC;
	width:400px;
	height:25px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:19px;
	padding-left:5px;
	text-decoration:none;
	}
	
.contact_form input:active{
	border:1px solid #EE3765;
	}
.contact_form input:focus{
	outline:none;
	border:1px solid #EE3765;
		}


.contact_form h2{
	margin:0;
	}	
	
.contact_form label{
	width:80px;
	display:inline-block;
	font-size:15px;
	font-family: 'Lato', sans-serif;
	color:#EE3765;
	}

#message{
	width: 505px;
	font-size:19px;
	border:1px solid #CCC;
	height:150px;
	margin-top:10px;	
	}
#message:focus{
	outline:none;
	border:1px solid #EE3765;
	}

#contact_form_submit{
	margin-top:10px;
	background:url(assets/submit.png);
	width: 100px;
	height:30px;
	margin-bottom:20px;
	float:right;
	margin-right:90px;
	}
	
#result{
	width:150px;
	margin:0;
	padding:0;
	font-size:15px;
	}